@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300');

/* Main background & text formatting */
body {
	background: #fef3bd;
	color: #444;
	font-family: "Handlee", monospace;
	font-weight: 300;
	font-size: 14pt;
	min-width: 60em;
	margin: 0;
}

.content {
	margin: 1em;
}


/* Advent of Code styles used only to style the hyperlink to their site */
.advent-of-code {
	background: #0f0f23;
	color: #00cc00; /* Adjusted from #009900 for readability against the background */
	font-family: "Source Code Pro", monospace;
	text-decoration: none;
	position: relative;
	top: -0.05em;
	padding-inline: 0.25em;
	padding-bottom: 0.1em;
	border-radius: 0.35em;
	color-scheme: only light;
}
.advent-of-code:hover, .advent-of-code:focus {
	color: #99ff99;
}


/* Format header and nav bar */
header {
	width: fit-content;
	padding-right: 1em;
	padding-bottom: 0.25em;
	position: relative;
	margin-bottom: -1em;
}
header nav ul { /* General */
	list-style-type: none;
	margin: 0.25em 0 -0.25em 0;
	padding: 0;
}
header nav h1 { /* Title */
	vertical-align: 25%;
	padding-inline: 1em;
}
header nav li,
header nav div { /* Options */
	padding-right: 0.4em; /* Adds spacing between navbar links */
	text-align: center;
	/* Add beige outline for legibility */
	text-shadow: #fff7d5 0px 0px 2px, #fff7d5 0px 0px 2px, #fff7d5 0px 0px 2px, #fff7d5 0px 0px 2px;
}
/* Letters in the background of the header */
#letters {
	/*background-color: #fafafa;*/
	overflow: visible;
	width: 100%;
	height: 100%;
	position: absolute; 
	top: 0;
	z-index: -1;
}
.letter { 
	fill: #fff; 
	stroke-width: 0.1em; 
	stroke: #ccc; 
	transform-box: fill-box; 
	transform-origin: center; 
	/* Actual transform set in JS script */
}

.user {
	vertical-align: 50%;
	padding-left: 1em;
	font-style: italic;
}
.user span {
	padding-left: 0.5em;
	font-style: initial;
}

.inline > * {
	display: inline-block
}

.overlay {
	pointer-events: none;
}

/* Road map formatting */
#map {
	rotate: 5deg;
    aspect-ratio: 1;
    width: 50%;
	overflow: hidden;
	text-align: center;
	
	scale: 150%;
	translate: 90% -12%;
	transform-origin: top;
}
#day-pins {
    list-style-type: none;
    position: absolute;
	top: 0;
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}
#day-pins li {
    position: absolute;
	font-size: small;
	font-weight: bold;
	
	/* Add white outline for legibility */
	text-shadow: #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px, #fff 0px 0px 1px;
}

#route {
	fill: none;
	stroke: red;
	stroke-width: 3;
	stroke-dasharray: 5 3 3 4;
}

/* Histogram formatting */
.plot {
	filter: drop-shadow(0px 0px 1px black)
			drop-shadow(0px 0px 1px black)
			drop-shadow(0px 0px 1px black);
}
.graphs-label {
	width: 100%;
	text-align: center;
	margin-block: 0.5em;
	display: block;
}
.graphs {
	height: 10em;
	padding: 1em;
	gap: 1em;
	background-color: #444;
}
.graph-section {
	max-width: 20em;
	flex: 1 1 25%;
	display: flex;
	flex-direction: column;
	background-color: #888;
}
.graph-title {
	flex: 1 1 10%;
	background-color: #fff;
	margin: 5px;
	padding-block: 0.2em;
	text-align: center;
}
.graph-area {
	flex: 1 1 90%;
	margin: 5px;
}

/* Canvas formatting */
p {
	text-align: center;
	max-width: 24em;
}
canvas {
	display: block;
	width: 24em;
	height: 16em;
	margin: auto;
	padding: 0;
	border: none;
	
	position: relative;
	
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
#editable-canvas {
	/* Adds a white outline to the canvas so it's still visible when alpha is 0 */
	box-shadow: #fffa 0px 0px 2px 0px, #fffa 0px 0px 2px 0px, #fffa 0px 0px 2px 0px;
}
button {
	display: block;
	font-size: inherit;
	margin: auto;
	padding: 0.6em;
}
#postcard {
	color: #444;
	background: white;
	border-style: solid;
	border-width: 0.1em;
	margin-inline: auto; /* Centers the div within its parent flex div */
	width: fit-content; /* Shrink-wraps the width to the canvas inside */
	padding-top: 0.2em;
	padding-inline: 0.5em;
	color-scheme: only light;
}
#postcard p {
	margin: 0.4em 0;
}
.easel {
	background: #e7aa6a;
}

#canvas-area {
	position: sticky; 
	align-self: flex-start;
	translate: 0 -4.5em;
	top: 4.5em;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.uniform-input {
	display: flex; 
	margin: 0.1em; 
	margin-left: 0.4em;
	text-transform: capitalize;
}

.error {
	position: sticky;
	bottom: 0;
	z-index: 1000; 
	background: #222226;
	color: #ffc136;
	padding: 0.25em 0.5em;
	font-weight: bold;
	border: #ff0023;
	border-style: dashed;
	border-width: 0.25em;
}

/* Code editor formatting */
.editor {
	color: #fff;
	background: #282a36;
	border-radius: 6px;
	box-shadow: 
		0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12),
		0 3px 1px -2px rgba(0, 0, 0, 0.2);
	font-family: monospace;
	font-size: 14px;
	font-weight: 400;
	min-width: 50%;
	min-height: 240px;
	letter-spacing: normal;
	line-height: 20px;
	padding: 10px;
	tab-size: 4;
	overflow-y: visible !important;
}

/* Hyperlink text formatting */
a {
	text-decoration: none;
	color: #444;
}
a:hover, a:focus {
	color: #a22;
	font-weight: 600;
}

/* Font effects */
.font-effect-warm-glow {
	--y_offset: -0.125em;
	text-shadow: 
		0.00em calc(var(--y_offset) + 0.05em) 0.20em #fff,
		0.01em calc(var(--y_offset) + 0.02em) 0.15em #fe0,
		0.01em calc(var(--y_offset) + 0.05em) 0.15em #fc0,
		0.02em calc(var(--y_offset) + 0.15em) 0.20em #f90,
		0.04em calc(var(--y_offset) + 0.20em) 0.30em #f70,
		0.05em calc(var(--y_offset) + 0.25em) 0.40em #f70,
		0.06em calc(var(--y_offset) + 0.20em) 0.90em #f50,
		0.10em calc(var(--y_offset) + 0.10em) 1.00em #f40;
	color: #ffe;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-emoji {
	display: inline;
	width: 1.5em;
	height: 1.5em;
	margin-inline: 0.25em;
	vertical-align: text-bottom;
	/* Outline */
	filter: drop-shadow(1px 1px 1px #444) 
			drop-shadow(-1px -1px 1px #444);
	color-scheme: only light;
}
.amaryllis-image {
	display: block;
	margin-inline: auto;
	width: 50%;
	scale: 80%;
	position: relative;
	top: 4em;
	left: -0.75em;
	/* Outline */
	filter: drop-shadow(1px 1px 3px #f99) 
			drop-shadow(-1px -1px 3px #f99);
}

/* Vertical Slider */
.vertical-slider {
	writing-mode: vertical-lr;
	width: 0;
	height: 600%;
	padding: 0 0.2em;
	
	position: absolute;
	right: 7.5%;
	transform-origin: top center;
}


/* Checkbox Switch (Source: https://www.w3schools.com/howto/howto_css_switch.asp)*/
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	box-shadow: 0 0 0px 1px #b2b2b2;
}
.switch input { /* Hide default HTML checkbox */
	opacity: 0;
	width: 0;
	height: 0;
}
.switch span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
}

.switch span:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
}

.switch input:checked + span {
	background-color: #2196F3;
}

.switch input:focus + span {
	box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + span:before {
	transform: translateX(26px);
}

/* Collapsible Content (Source: https://www.w3schools.com/howto/howto_js_collapsible.asp) */
button.collapsible {
	background-color: #fff581;
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

/* When button is toggled (.active added via JS), or hovered over */
.active, button.collapsible:hover {
	background-color: #ffffbb;
}

div.collapsible {
	padding: 0 18px;
	display: none;
	overflow: hidden; /* Hidden by default */
	background-color: #f1f1f1;
}

/* Code Tooltips (Source: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/, https://www.w3schools.com/css/css_tooltip.asp) */
.token {
	--offset-x: 0;
}
.token:before {
	content: attr(data-before);
	position: absolute;
	
	width: max-content;
	max-width: 512px;
	
	/* horizontally center */
	left: 50%;
	transform: translateX(-50%) translateX(var(--offset-x)) translateY(-6px);
	
	/* move to top */
	bottom: 100%;
	
	/* basic styles */
	
	border-radius: 10px;
	background: #000;
	color: #fff;
	text-align: center;
	
	display: none; /* hide by default */
}
/* Needs to be without [data-before] or the insertionQ method doesn't pick it up */
.token:hover:before {
	display: block;
}
/* Needs to be seperate from the .token:before style so empty tooltips don't show */
.token[data-before]:before {
	padding: 10px;
	margin-bottom: 8px;
}
/* Tooltip arrow */
.token:after {
	content: "‎";
	position: absolute;
	top: -14px;
	left: 50%;
	margin-left: -5px;
	border-width: 8px;
	border-color: black transparent transparent transparent;
	display: none;
}
.token:hover:after {
	display: block;
}
.token[data-before]:after {
	border-style: solid;
}


/* Dark Mode */
@media (prefers-color-scheme: dark) {
	body {
		background: #422b26;
		color: #eee;
	}
	.letter { 
		fill: #d1a262;
		stroke: #9f7659;
	}
	.header nav li {
		text-shadow: #d1a262 0px 0px 2px, #d1a262 0px 0px 2px, #d1a262 0px 0px 2px, #d1a262 0px 0px 2px;
	}
	.easel {
		background: #7a4433;
	}
	.switch span { background-color: #3b3b3b; }
	.switch span:before { background-color: #99c8ff; }
	
	.graph-section { background-color: #000; }
	.graph-title { background-color: #282a36; }
	.graph-area { background: #282a36; }
	.js-line { stroke: #c91111 !important; color-scheme: only light; }
}